[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mldr"]
	path = mldr
	url = https://github.com/fcharte/mldr
[submodule "mldr.datasets"]
	path = mldr.datasets
	url = https://github.com/fcharte/mldr.datasets
